body{
    background-image: url(slifejpg );
    background-size: cover;
    color:white;
}


ul {

    /* Remove list bullets */
    list-style-type: none;
    
    /* The CSS margin properties are used to create space around elements, outside of any defined borders */
    margin: 0;
    
    /* The CSS padding properties are used to generate space around an element's content, inside of any defined borders. */
    padding: 0;
    
    /* The overflow property specifies what should happen if content overflows an element's box. */
}
/* The <li> tag is used inside ordered lists(<ol>), unordered lists (<ul>), and in menu lists (<menu>). */
li {
    /* The float property is used for positioning and formatting content e.g. let an image float left to the text in a container. */
    float: left;
    background-color:blue;

}
/* The <a> tag defines a hyperlink, which is used to link from one page to another. */
li a {
    /* The display property specifies the display behavior (the type of rendering box) of an element. */
    display: block;

    
    /*  */
    color: white;
    
    /* The text-align property specifies the horizontal alignment of text in an element. */
    text-align:center;
    
    /* The CSS padding properties are used to generate space around an element's content, inside of any defined borders. */
    padding: 22px 20px;
    /* The text-decoration property specifies the decoration added to text */
    text-decoration: none;
}
/* The :hover selector is used to select elements when you mouse over them. */
li a:hover {
    /*  */
    background-color:  #666;
}

li a .active {
    /*  */
    background-color: #111;
    width: fit-content;
}


